body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #001219;
  color: #E9D8A6;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
  color: inherit;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #005F73;
}

.nav_link {
  float: left;
}

.nav_link a {
  display: block;
  color: inherit;
  text-align: center;
  font-size: 1.5em;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_link a:hover {
  background-color: #001219;
}


.App {
  width: 100%;
  height: 100%;
}