.specs_container {
    width: 100%;
    margin-top: 20px;
}

.specs_container pre {
    font-size: 1vw;
}

.specs_logo {
    margin-right: 20px;;
    color: #0a9396;
    overflow: hidden;
    display: inline-block;
}

.specs_info {
    color: #e9d8a6;
    display: inline-block;
}