.specs_container {
    width: 100%;    
}

.specs_container pre {
    font-size: large;
}

.specs_logo {
    position: absolute;
    right: 50%;
    margin: 20px;
}

.specs_info {
    position: absolute;
    left: 50%;
    margin: 20px;
}